
.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%; /* Ensure the container takes the full height */
}

.button {
    width: 230px; /* Adjust the width as needed */
    height: 30px; /* Adjust the height as needed */
    border: 1px  transparent;
    text-align: center;
    font-size: 18px;
    color: white;
    background-color: #3c3484;
    cursor: pointer;
    border-radius: 20px;
    transition: background-color 0.3s ease;
    align-items: center;
}


